@import"https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Oleo+Script:wght@400;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap";
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Roboto Mono",sans-serif;
    color:#425959
}
html{
    /* scroll-behavior:smooth; */
    align-items:center;
    width:100vw;
    height:100vh
}
section{
    width:100%; 
    padding:0;
    margin:0
}
article,nav,section{
    display:block
}
ol,ul{
    list-style:none
}
a{
    text-decoration:none;
    color:inherit
}
img{
    max-width:100%;
    height:auto;    
}
html{
    font-family:"Roboto Mono",sans-serif
}
h1,.h1{
    font-size:2.2rem;
    line-height:2.56rem
}
h2,.h2{
    font-weight:500;
    font-size:1.375rem;
    line-height:1.75rem
}
h3,.h3{
    font-size:1rem;
    line-height:1.375rem
}
p,.p{
    font-size:1rem;
    line-height:1.375rem
}
h2,h1,p{
    text-align:left
}
h2{
    font-family:"Oleo Script",sans-serif;
    color:#e1651f
}
h1{
    font-family:"Exo 2",sans-serif;
    text-transform:uppercase;
    font-weight:900
}
h3{
    padding-left:1rem;
    font-family:"Oleo Script",sans-serif;
    text-align:left
}
html{
    display:grid;
    grid:auto-flow min-content/1fr;
    grid-template-areas:"nav" "content" "footer"
}
nav{
    width:100%;
    grid-area:nav
}
footer{
    width:100%;
    grid-area:footer
}
.btn{
    font-size:1rem;
    position:relative;
    text-decoration:none;
    border:0;
    font-weight:400;
    justify-content:center;
    align-items:center;
    color:#fff;
    text-transform:capitalize;
    margin:1rem;
    transition:transform 250ms ease-in-out;
    position:relative;
    border-radius:2rem
}
.btn::after{
    content:"";
    position:absolute;
    transition:transform 250ms ease-in-out;
    opacity:0
}
.btn:hover,.btn:focus{
    transform:scale(1.1)
}
.btn:hover::after,.btn:focus::after{
    opacity:1
}
.btn-primary{
    background-color:#f5e7e0e0;
    color:#e1651f;
    padding:1rem
}
.btn-secondary{
    background-color:#fff;
    color:#e1651f;
    border:.5px solid #e1651f;
    padding:.5rem;
    font-size:.8rem
}
.nav-bar{
    background-color:#e1651f;
    width:100vw;
    color:#fff;
    font-family:"Exo 2",sans-serif;
    font-weight:400;
    height:3.25rem;
    position:fixed;
    overflow:hidden;
    z-index:9999
}
@media only screen and (max-width: 37em){
    .nav-bar{
        height:2.5rem
    }
}
.nav-bar .logo{
    height:3.5rem;
    width:auto;
    margin:0 1rem;
    border-radius: 8px;
    padding-top: 4px;
}
@media only screen and (max-width: 37em){
    .nav-bar .logo{
        display:inline-block;
        border-radius: 15px;
        padding-left: 4px;
    }
}
.nav-bar ul{
    height:100%;
    width:90%;
    display:grid;
    margin:0rem;
    -moz-column-gap:0rem;
    column-gap:0rem;
    justify-items:end;
    grid-column-gap:2rem;
    justify-content:center;
    align-content:center;
    align-items:center;
    grid-template-columns:-webkit-max-content repeat(5, 10%);
    grid-template-columns:max-content repeat(5, 10%)
}
@media only screen and (max-width: 37em){
    .nav-bar ul{
        justify-content:space-around
    }
}
.nav-bar li{
    font-size:0.9rem;
    justify-self:center;
    color:#fff;
    display:inline-block
}
@media only screen and (max-width: 37em){
    .nav-bar li{
        font-size:.7rem
    }
}
.nav-bar li:hover{
    text-decoration:underline;
    color:#425959
}
.icons{
    width: 26px;
    background-color: whitesmoke;
    margin: 1px;
    padding: 3.4px;
    border-radius: 50px;
}
.footer{
    background-color:#425959;
    height:7rem;
    width:100%;
    display:flex;
    align-items:center;
    justify-items:center;
    flex-direction:column;
    margin:auto;
    justify-content:center;
    padding:1.5rem
}
.footer ul{
    display:flex;
    justify-content:center
}
.footer ul li{
    padding:.5rem
}
.footer p{
    color:#fff;
    padding:.8rem
}
.nutrition-facts body{
    font-size:small;
    line-height:1
}
.performance-facts{
    overflow:hidden;
    border:1px solid #425959;
    float:left;
    max-width:100%;
    padding:.5rem;
    margin:.5rem auto
}
.performance-facts table{
    border-collapse:collapse
}
.performance-facts__title{
    font-weight:bold;
    font-size:2rem;
    margin:0 0 .25rem 0
}
.performance-facts__header{
    border-bottom:10px solid #425959;
    padding:0 0 .25rem 0;
    margin:0 0 .5rem 0
}
.performance-facts__header p{
    margin:0;
    font-size:.7rem
}
.performance-facts__table,.performance-facts__table--grid{
    width:100%
}
.performance-facts__table thead tr th,.performance-facts__table--grid thead tr th,
.performance-facts__table thead tr td,.performance-facts__table--grid thead tr td{
    border:0
}
.performance-facts__table th,.performance-facts__table--grid th,
.performance-facts__table td,.performance-facts__table--grid td{
    font-weight:300;
    text-align:left;
    padding:.25rem 0;
    border-top:1px solid #425959;
    white-space:nowrap
}
.performance-facts__table td:last-child,
.performance-facts__table--grid td:last-child{
    text-align:right
}
.performance-facts__table .blank-cell,
.performance-facts__table--grid .blank-cell{
    width:1rem;
    border-top:0
}
.performance-facts__table .thick-row th,
.performance-facts__table--grid .thick-row th,
.performance-facts__table .thick-row td,
.performance-facts__table--grid .thick-row td{
    border-top-width:5px
}
.small-info{
    font-size:.7rem
}
.performance-facts__table--grid td:last-child{
    text-align:left
}
.performance-facts__table--grid td:last-child::before{
    content:"•";
    font-weight:bold;
    margin:0 .25rem 0 0
}
.text-center{
    text-align:center
}
.thick-end{
    border-bottom:10px solid #425959
}
.thin-end{
    border-bottom:1px solid #425959
}
.home{
    width:100%
}
.hero{
    height:100vh;
    width:100vw;
    position:relative;
    width:100%;
    margin:auto;
    color:#fff;
    display:grid;
    justify-content:center;
    align-content:center
}
.hero .background{
    width:100vw;
    height:100vh;
    -o-object-fit:fill;
    object-fit:fill;
    overflow:hidden;
    position:absolute;
}
.hero span{
    position:relative;
    display:block;
    margin:auto;
    color:#fff
}
.hero-title{
    font-family:"Exo 2",sans-serif;
    font-weight:900;
    font-size:4rem;
    text-align:center;
    top:120%
}
.hero-subtitle{
    font-family:"Oleo Script",sans-serif;
    font-weight:regular;
    font-size:1.8rem;
    text-align:center;
    top:125%
}
.categories h2,.categories h1,.categories p{
    text-align:left
}
.categories h2{
    font-family:"Oleo Script",sans-serif;
    color:#e1651f
}
.categories h1{
    font-family:"Exo 2",sans-serif;
    text-transform:uppercase;
    font-weight:900
}
.categories p{
    margin:1.3rem auto
}
.categories .category-card{
    display:grid;
    justify-items:center
}
.categories .category-card img{
    -o-object-fit:fill;
    object-fit:fill;
    width:100%;
    overflow:hidden
}
.categories .category-card .text-box{
    justify-items:center;
    align-items:center;
    width:100%;
    height:100%;
    padding:2rem;
    padding:4rem
}
@media(min-width: 550px){
    .categories .category-card{
        display:flex;
        flex-direction:row
    }
    .categories .category-card img,
    .categories .category-card .text-box{
        width:50%
    }
    .categories .category-card .text-box{
        display:grid;
        align-self:center;
        justify-self:center;
        margin:0 auto;
        max-width:430px
    }
    .categories .category-card:nth-child(even){
        display:flex;
        flex-direction:row-reverse
    }
}
.pizzas .category-card,
.drinks .category-card,
.desserts .category-card{
    display:grid;
    justify-items:center
}
.pizzas .category-card .text-box,
.drinks .category-card .text-box,
.desserts .category-card .text-box{
    padding:0 2rem;
    display:grid;
    justify-content:center;
    max-width:1024px;
    margin:1.5rem auto;
    row-gap:2rem;
    -moz-column-gap:2rem;
    column-gap:2rem
}
.pizzas .category-card .text-box .category-subtitle,
.pizzas .category-card .text-box .btn,
.drinks .category-card .text-box .category-subtitle,
.drinks .category-card .text-box .btn,
.desserts .category-card .text-box .category-subtitle,
.desserts .category-card .text-box .btn{
    display:none
}
.pizzas .category-card img,
.drinks .category-card img,
.desserts .category-card img{
    width:100%;
    height:auto;
    -o-object-fit:fill;
    object-fit:fill;
    overflow:hidden;
    max-height:500px;
    position:relative;
    max-width:1024px;
    margin-top:2rem;
    padding:0 auto
}
.pizzas ul,.drinks ul,.desserts ul{
    padding:0 2rem;
    display:grid;
    justify-content:center;
    max-width:80%;
    margin:4rem auto;
    row-gap:2rem;
    -moz-column-gap:2rem;
    column-gap:2rem
}
.product-card{
    grid-template-columns:repeat(auto-fit, minmax(160px, 1fr))
}
.product-card button{
    background:transparent;
    border-color:transparent;
    transition:all .25s;
    box-shadow:0 4px 4px rgba(30,30,100,.25);
    border-radius:2px;
    overflow:hidden;
    width:100%;
    height:auto;
    cursor:pointer;
    align-items:center;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
    grid-gap:0;
    align-content:center
}
.product-card button img{
    -o-object-fit:fill;
    object-fit:fill;
    width:100%;
    height:100%;
    overflow:hidden;
    padding:0;
    margin:0
}
.product-card button .text-box{
    justify-items:center;
    align-items:center;
    width:100%;
    height:100%;
    padding:2rem;
    margin:auto 1rem
}
.product-card button img{
    box-shadow:0 4px 4px rgba(30,30,100,.25);
    max-height:100%;
    max-width:100%
}
.product-card button .text-box{
    width:100%;
    margin:0;
    height:auto;
    max-height:100%;
    max-width:100%;
    overflow:hidden
}
.product-card .product-name{
    padding:1rem auto;
    padding-top:0rem;
    font-family:"Exo 2",sans-serif;
    text-transform:uppercase;
    font-weight:700;
    margin-bottom:1.5rem
}
.product-card .product-the{
    padding:0
}
.product-page{
    display:grid;
    justify-content:center;
    justify-items:center
}
.product-page .product{
    display:grid;
    justify-content:center;
    justify-items:center
}
.product-page img{
    width:100%;
    height:auto;
    -o-object-fit:fill;
    object-fit:fill;
    overflow:hidden;
    max-height:500px;
    position:relative;
    margin-top:2rem;
    max-width:1024px
}
.product-page .product-info{
    padding:0 2rem;
    display:grid;
    justify-content:center;
    max-width:80%;
    margin:1rem auto
}
.product-page .product-info section{
    display:grid;
    margin:1.5rem auto
}
.product-page .product-info section h2{
    margin-bottom:.5rem
}
.product-page .product-info .text-box h1{
    margin-bottom:1rem
}
.product-page .product-info .ingredients ul{
    list-style:circle;
    padding:0 1.5rem
}
.product-page .product-info .btn{
    max-width:80%;
    padding:1rem;
    width:auto;
    margin:1.5rem auto
}
.contact{
    display:grid;
    justify-content:center
}
.contact img{
    width:100%;
    height:auto;
    -o-object-fit:fill;
    object-fit:fill;
    overflow:hidden;
    max-height:500px;
    position:relative;
    margin-top:2rem;
    max-width:640px
}
.contact .contact-content{
    padding:0 2rem;
    display:grid;
    justify-content:center;
    max-width:80%;
    margin:1rem auto
}
.contact .contact-content section{
    margin:1.5rem auto
}
.contact ul,.contact .hours,.contact .address{
    display:grid;
    margin:2rem auto
}
.contact ul{
    list-style:circle;
    list-style-position:outside;
    margin:1rem
}
.contact .booking{
    display:grid
}
.contact .fields{
    margin-top:1rem;
    display:grid;
    row-gap:.8rem;
    -moz-column-gap:1rem;
    column-gap:1rem;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr))
}
@media only screen and (min-width: 75em){
    .contact .fields{
        grid-template-columns:repeat(auto-fit, minmax(600px, 1fr))}
    }
    .contact form{
        margin-bottom:2rem
    }
    .contact .btn-primary{
        margin:0 auto
    }
    .contact input{
        width:90%;
        background-color:rgba(0,0,0,.04);
        border:2px solid transparent;
        outline:0;
        font-size:1.2rem;
        padding:.6rem;
        padding-left:1.5rem;
        padding-right:1.5rem;
        /* -webkit-text-size-adjust:100%;
        -moz-text-size-adjust:100%;
        text-size-adjust:100%; */
        margin:.2rem;
    }
/* sourceMappingURL=index.css.map */
/* "mappings":"AAAA,6LACQ,CAAA,ECDR,SACC,CAAA,QACA,CAAA,qBACA,CAAA,oCCOQ,CAAA,aARG,CAAA,KDMZ,sBACC,CAAA,kBACA,CAAA,WACA,CAAA,YACA,CAAA,QAGD,UACC,CAAA,SACA,CAAA,QACA,CAAA,oBAGD,aAGC,CAAA,MAED,eAEC,CAAA,EAED,oBACC,CAAA,aACA,CAAA,IAED,cACC,CAAA,WACA,CAAA,KEpCD,oCACC,CAAA,OAGD,gBAEC,CAAA,mBACA,CAAA,OAED,eAEC,CAAA,kBACA,CAAA,mBACA,CAAA,OAED,cAEC,CAAA,oBACA,CAAA,KAED,cAEC,CAAA,oBACA,CAAA,QAED,eAGC,CAAA,GAED,oCDnBO,CAAA,aAVG,CAAA,GCiCV,8BDzBM,CAAA,wBC2BL,CAAA,eACA,CAAA,GAED,iBACC,CAAA,oCD7BM,CAAA,eC+BN,CAAA,KC1CD,YACC,CAAA,8BACA,CAAA,4CAEC,CAAA,IAIF,UACC,CAAA,aACA,CAAA,OAED,UACC,CAAA,gBACA,CAAA,KCdD,cACC,CAAA,iBACA,CAAA,oBACA,CAAA,QACA,CAAA,eACA,CAAA,sBACA,CAAA,kBACA,CAAA,UACA,CAAA,yBACA,CAAA,WHMa,CAAA,sCImBb,CAAA,iBAVA,CAAA,kBDZA,CAAA,YCaA,UAFsB,CAAA,iBAAU,CAAA,sCAc/B,CAAA,SACA,CAAA,sBAED,oBAEC,CAAA,oCACA,SACC,CAAA,aD/BF,0BHRqB,CAAA,aAJZ,CAAA,YAcI,CAAA,eGGb,qBHfO,CAAA,aAFE,CAAA,yBGoBR,CAAA,aHPc,CAAA,eGSd,CAAA,SEvBF,wBACC,CAAA,WACA,CAAA,UACA,CAAA,8BLMK,CAAA,eKJL,CAAA,cACA,CAAA,cACA,CAAA,eACA,CAAA,YACA,CAAA,yCDgDC,SCzDF,aAWE,CAAA,CAAA,eAGD,aACC,CAAA,UACA,CAAA,aACA,CAAA,yCDwCA,eC3CD,YAKE,CAAA,CAAA,YAGF,WACC,CAAA,SACA,CAAA,YACA,CAAA,WACA,CAAA,oBACA,CADA,eACA,CAAA,iBACA,CAAA,oBACA,CAAA,sBACA,CAAA,oBACA,CAAA,kBACA,CAAA,wDACA,CADA,gDACA,CAAA,yCDwBA,YCnCD,4BAaE,CAAA,CAAA,YAGF,eACC,CAAA,mBACA,CAAA,ULrCM,CAAA,oBKuCN,CAAA,yCDeA,YCnBD,eAME,CAAA,CAAA,kBAED,yBACC,CAAA,aL7CS,CAAA,QMFZ,wBNEY,CAAA,WAAA,CAAA,UMCX,CAAA,YACA,CAAA,kBACA,CAAA,oBACA,CAAA,qBACA,CAAA,WACA,CAAA,sBACA,CAAA,cNOc,CAAA,WMLd,YACC,CAAA,sBACA,CAAA,cACA,aNAc,CAAA,UMIf,UNfO,CAAA,aMiBN,CAAA,sBClBD,eACC,CAAA,aACA,CAAA,mBAGF,eACC,CAAA,wBACA,CAAA,UACA,CAAA,cACA,CAAA,aACA,CAAA,iBACA,CAAA,yBACA,wBACC,CAAA,0BAGF,gBACC,CAAA,cACA,CAAA,mBACA,CAAA,2BAED,gCACC,CAAA,oBACA,CAAA,kBACA,CAAA,6BACA,QACC,CAAA,eACA,CAAA,0DAGF,UACC,CAAA,oKAEC,QAEC,CAAA,gIAGF,eAEC,CAAA,eACA,CAAA,gBACA,CAAA,4BACA,CAAA,kBACA,CAAA,sFAGA,gBACC,CAAA,kFAGF,UACC,CAAA,YACA,CAAA,4KAGA,oBAEC,CAAA,YAIH,eACC,CAAA,8CAMC,eACC,CAAA,sDACA,WACC,CAAA,gBACA,CAAA,mBACA,CAAA,aAMJ,iBACC,CAAA,WAED,gCACC,CAAA,UAED,+BACC,CAAA,MCzFD,UACC,CAAA,MAED,YACC,CAAA,WACA,CAAA,iBACA,CAAA,UACA,CAAA,WACA,CAAA,URLO,CAAA,YQOP,CAAA,sBACA,CAAA,oBACA,CAAA,kBAEA,WACC,CAAA,YACA,CAAA,mBACA,CADA,gBACA,CAAA,eACA,CAAA,iBACA,CAAA,WAED,iBACC,CAAA,aACA,CAAA,WACA,CAAA,URrBM,CAAA,YQwBP,8BRlBK,CAAA,eQoBJ,CAAA,cACA,CAAA,iBACA,CAAA,QACA,CAAA,eAED,oCRvBM,CAAA,mBQyBL,CAAA,gBACA,CAAA,iBACA,CAAA,QACA,CAAA,4CAID,eAGC,CAAA,eAED,oCRrCM,CAAA,aAVG,CAAA,eQmDT,8BR3CK,CAAA,wBQ6CJ,CAAA,eACA,CAAA,cAED,kBACC,CAAA,2BAED,YACC,CAAA,oBACA,CAAA,+BACA,mBACC,CADD,gBACC,CAAA,UACA,CAAA,eACA,CAAA,qCAED,oBACC,CAAA,kBACA,CAAA,UACA,CAAA,WACA,CAAA,YRvDW,CAAA,YACE,CAAA,yBQ2Df,2BAEC,YACC,CAAA,kBACA,CAAA,oEACA,SAEC,CAAA,qCAED,YACC,CAAA,iBACA,CAAA,mBACA,CAAA,aACA,CAAA,eACA,CAAA,2CAGF,YACC,CAAA,0BACA,CAAA,CAAA,uEC7FF,YACC,CAAA,oBACA,CAAA,qGACA,cACC,CAAA,YACA,CAAA,sBACA,CAAA,gBACA,CAAA,kBACA,CAAA,YTMW,CAAA,oBAAA,CAAA,eAAA,CAAA,kRSHX,YAEC,CAAA,mFAGF,UACC,CAAA,WACA,CAAA,mBACA,CADA,gBACA,CAAA,eACA,CAAA,gBACA,CAAA,iBACA,CAAA,gBACA,CAAA,eACA,CAAA,cACA,CAAA,mCAIF,cACC,CAAA,YACA,CAAA,sBACA,CAAA,aACA,CAAA,gBACA,CAAA,YTpBY,CAAA,oBAAA,CAAA,eAAA,CAAA,cSyBd,0DACC,CAAA,qBACA,sBACC,CAAA,wBACA,CAAA,mBACA,CAAA,wCACA,CAAA,iBACA,CAAA,eACA,CAAA,UACA,CAAA,WACA,CAAA,cACA,CAAA,kBACA,CAAA,YLrDD,CAAA,0DACA,CAAA,UACA,CAAA,oBACA,CAAA,yBACA,mBACC,CADD,gBACC,CAAA,UACA,CAAA,WACA,CAAA,eACA,CAAA,SACA,CAAA,QACA,CAAA,+BAED,oBACC,CAAA,kBACA,CAAA,UACA,CAAA,WACA,CAAA,YACA,CAAA,gBACA,CAAA,yBKsCA,wCACC,CAAA,eACA,CAAA,cACA,CAAA,+BAED,UACC,CAAA,QACA,CAAA,WACA,CAAA,eACA,CAAA,cACA,CAAA,eACA,CAAA,4BAGF,iBACC,CAAA,gBACA,CAAA,8BThEI,CAAA,wBSkEJ,CAAA,eACA,CAAA,oBACA,CAAA,2BAED,SACC,CAAA,cChFF,YACC,CAAA,sBACA,CAAA,oBACA,CAAA,uBACA,YACC,CAAA,sBACA,CAAA,oBACA,CAAA,kBAED,UACC,CAAA,WACA,CAAA,mBACA,CADA,gBACA,CAAA,eACA,CAAA,gBACA,CAAA,iBACA,CAAA,eACA,CAAA,gBACA,CAAA,4BAED,cACC,CAAA,YACA,CAAA,sBACA,CAAA,aACA,CAAA,gBACA,CAAA,oCACA,YACC,CAAA,kBACA,CAAA,uCACA,mBVda,CAAA,yCUkBd,kBACC,CAAA,4CAGA,iBACC,CAAA,gBACF,CAAA,iCAGA,aACC,CAAA,YV3BW,CAAA,UU6BX,CAAA,kBACA,CAAA,SC7CH,YACC,CAAA,sBACA,CAAA,aACA,UACC,CAAA,WACA,CAAA,mBACA,CADA,gBACA,CAAA,eACA,CAAA,gBACA,CAAA,iBACA,CAAA,eACA,CAAA,eACA,CAAA,0BAED,cACC,CAAA,YACA,CAAA,sBACA,CAAA,aACA,CAAA,gBACA,CAAA,kCACA,kBACC,CAAA,8CAGF,YAGC,CAAA,gBACA,CAAA,YAED,iBACC,CAAA,2BACA,CAAA,WACA,CAAA,kBAGD,YACC,CAAA,iBAED,eACC,CAAA,YACA,CAAA,aACA,CAAA,oBACA,CADA,eACA,CAAA,0DACA,CAAA,yCPgCA,iBOrCD,0DAOE,CAAA,CAAA,cAGF,kBACC,CAAA,sBAED,aACC,CAAA,eAED,SACC,CAAA,gCACA,CAAA,4BACA,CAAA,SACA,CAAA,gBACA,CAAA,aACA,CAAA,mBACA,CAAA,oBACA,CAAA,6BACA,CADA,0BACA,CADA,qBACA,CAAA,YACA", */